/* You can add global styles to this file, and also import other style files */
:root {
  color-scheme: light dark;
}

html {
  margin: 0;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
}


